{% extends 'base.html' %}
{% load static %}
{% block title %}Logged out{% endblock %}

{% block content %}
    <div class="row">
        <div class="main_slider text-center">
            <div class="col-md-12">
                <div class="main_slider_content wow zoomIn" data-wow-duration="1s">
                    {% if user.is_authenticated %}
                        <h1>Welcome to Good Shepherd Food Pantry System</h1>
                        <p>Hope and a Helping Hand.</p>
                        <p>Our mission is to be more than a pantry by providing clients with resources to be food secure
                            and
                            self-sufficient in a hope-filled environment</p>
                    {% else %}
                        <h1>Goodbye!</h1>
                        {% include 'messages.html' %}
                        <p>You have been successfully logged out.</p>
                        <p><a href="{% url 'login' %}" class="btn btn-warning btn-lg ">Login again!</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}