{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{%	block title	%}Change your password{% endblock %}

{% block content %}
    <section id="abouts" class="abouts">
        <div class="container">
            <div class="row">
                <div class="abouts_content">
                    <div class="col-md-4">
                        <div class="single_abouts_text text-center wow slideInLeft" data-wow-duration="1s">
                            <img src="{% static "images/polaroid.png" %}" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single_features_text wow slideInRight" data-wow-duration="1s">
                            {% include 'messages.html' %}
                            <h3>Change you password</h3>
                            <p></p>
                            <p>Use the form below to change your password.</p>
                            <form action="." method="post">
                                {{ form|crispy }}
                                <p><input type="submit" value="Change" class="btn btn-warning"></p>
                                {% csrf_token	 %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}