{% extends "base.html" %}
{% load static %}
{% block title %} Password changed {% endblock %}

{% block content %}
    <section id="abouts" class="abouts">
        <div class="container">
            <div class="row">
                <div class="abouts_content">
                    <div class="col-md-4">
                        <div class="single_abouts_text text-center wow slideInLeft" data-wow-duration="1s">
                            <img src="{% static "images/polaroid.png" %}" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single_features_text wow slideInRight" data-wow-duration="1s">
                            {% include 'messages.html' %}
                            <h3>Password changed</h3>
                            <p></p>
                            <p>Your password has been successfully changed.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}