{% extends "base.html" %}
{% load static %}
{%	block title	%} {% endblock %}

{% block content %}
    <section id="abouts" class="abouts">
        <div class="container">
            <div class="row">
                <div class="abouts_content">
                    <div class="col-md-4">
                        <div class="single_abouts_text text-center wow slideInLeft" data-wow-duration="1s">
                            <!-- change image if needed-->
                            <img src="{% static "images/polaroid.png" %}" alt=""/>
                        </div>
                    </div>
                    <!-- change col if you need more space-->
                    <div class="col-md-6">
                        <div class="single_features_text wow slideInRight" data-wow-duration="1s">
                            {% include 'messages.html' %}
                            <!-- Enter the text, form, or image here-->






                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}